{% extends 'base.html'  %}

{% block content %}


<div class="container">
  <h1>Welcome to your AF Recipe Catalogue!</h1>

  <p class="text-center display-4">Get Drink Name</p>
  <div class="row justify-content-center">
    <div class="col-6">
      <ul class="list-group">

        <form action="/drink_name" method="POST">
          <label for="strDrink">Name</label>
          <input type="text" id="strDrink" name="strDrink" value="" autofocus />
          <button>go</button>
        </form>

        <a href="/add_drink" class="col-6">Add Drink</a>
      </ul>
    </div>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
  integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="static/drinks.js"></script>



</ul>
{% endblock %}