{% extends 'base.html'  %}

{% block content %}
<div class="container">
<h1 class="display-1">Browse Drinks</h1>
<p class="lead">Look through all of the drinks you have added to your Recipe Catalogue!</p>
</div>
{% if drinks %}
{% for drink in drinks %}
<div class="container">

  <div class="row g-0">
    <div class="col-md-4" style="padding: 5%;">
      <img src=" {{ drink.image_thumb }} " style="width: 100%;" class="card-img-top" alt="...">

      <!-- <h5 class="card-title"> {{ drink['drink_name'] }}  </h5></div> -->
        <div class="col-md-4" style="padding: 1%;">

        <a class="card-title"> <a href="/drink/{{ drink.drink_name }}">{{ drink['drink_name'] }} </a>  </h3>

    </div>
    <button id="delete-drink" class="btn btn-outline-danger btn-lg">Delete</button></div>
    <div class="col-md-8">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Tags: {{ drink['tags'] }}</li>
          <li class="list-group-item">Category: {{ drink['category'] }}</li>
          <li class="list-group-item">Glass: {{ drink['glass'] }}</li>

          {% if ingredients%}
          <li class="list-group-item">Ingredients:
            {% for ingredient in ingredients %}
              <ol>{{ ingredient }}</ol>
            {% endfor %}
          </li>
          {% endif %}

          <li class="list-group-item">Instructions: {{ drink['instructions'] }} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
?
{% endfor %}

{% endif %}


{% endblock %}