{% extends 'base.html'  %}

{% block content %}


{% for message in get_flashed_messages() %}
<div class="alert alert-info">
   {{ message }}

 </div>
{% endfor %}

{% if drink %}
<div class="container">
  <div class="row g-0">
    <div class="col-md-4" style="padding: 5%;">
      <img id="drink_image_thumb" src=" {{ drink['image'] }} " style="width: 100%;" class="card-img-top" alt="...">
      <h3 id="drink_name" class="card-title">{{ drink['name'] }}</h3>

      <div class="d-grid gap-2 col-8 mx-auto">
        <div class="btn-group-vertical btn-group-lg" role="group">

          <form action="/drink/{{ drink_name }}"  method="POST">
            <button action="/drink/{{ drink_name }}" id="add-drink" method="POST" class="btn btn-outline-success btn-lg add-drink">Add Drink</>
          </form>

<!-- THIS IS WHERE I ADDED THE DELETE BUTTON, IT MADE SENSE TO PUT IT HERE BUT NOW I AM NOT SO SURE -->

        <button id="delete-drink" class="btn btn-outline-danger btn-lg delete-drink" > Delete Drink </button>
       
    </div>
  </div>
  

</div>
<div class="col-md-8">
  <div class="card-body">
    <ul class="list-group list-group-flush">

      <li class="list-group-item">Tags: <span id="drink_tags">{{ drink['tags'] }}</span></li>
      <li class="list-group-item">Category: <span id="drink_category">{{ drink['category'] }}</span></li>
      <li class="list-group-item">Glass: <span id="drink_glass">{{ drink['glass'] }}</span></li>

      {% if ingredients%}
      <li class="list-group-item">Ingredients:
        {% for ingredient in ingredients %}
          <ol>{{ ingredient }}</ol>
        {% endfor %}
      </li>
      {% endif %}

      <li class="list-group-item">Instructions: <span id="drink_instructions">{{ drink['instructions'] }}</span></li>
    </ul>
  </div>
</div>
</div>
</div>
</div>

{% endif %}

{% endblock %}