{% extends 'base.html'  %}

{% block content %}
<h1>To Do List</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group">
      {{field.label}}
      {{field(class_="form-control")}}
      {% for err in field.errors %}
      <small class="form-text text-danger">
        {{err}}
      </small>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="btn  btn-success  btn-lg">Submit</button>
    <a href="/todos" class="btn btn-danger btn-lg">Go Back</a>
  </form>
<ul id="todos">
  {% for todo in todos %}
    <li> {{todo.text}} </li>
    {% if todo.complete == False %}
    <span>Not Complete</span>
    {% else %}
    <span>Completed</span>
    {% endif %}
    
    {% endfor %}
</ul>
  {% endblock %}